html,
body {
  color: #555555;
  background-color: #fff;
}
.infodot {
  position: absolute;
  margin: -45px 0px 0px -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  font-size: 0.8em;
  padding: 3px 7px 0px 8px;
  font-weight: bold;
}
.userDetails {
  padding: 20px 0px 30px 0px;
  background-color: #fff;
}
.primaryBackground {
  background-color: #009de6 !important;
}
.primaryBackground:hover {
  color: #fff !important;
  background-color: #12b4ff !important;
}
.title {
  font-size: 1.4em;
}
.primaryColor {
  color: #009de6 !important;
}
.primaryColor:hover {
  color: #12b4ff !important;
}
.drawerHeader {
  position: relative;
  width: 10px;
  margin-bottom: 20px;
}
.primaryBorderColor {
  border-color: #009de6 !important;
}
.primaryBorderColor:hover {
  border-color: #12b4ff !important;
}
.logo {
  position: relative;
  background-image: url("images/warsztappc.png");
  background-size: 50px;
  background-position: px 0px;
  background-repeat: no-repeat;
  height: 55px;
  min-width: 50px;
}
.pageHeader {
  height: 55px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}
.warsztApp {
  padding: 10px 0px 10px 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}
.warsztAppTitle {
  font-weight: bold;
  font-size: 0.9em;
  width: auto;
  color: #32a8c0;
}
.garageName {
  padding: 0px 0px 5px 1px;
  position: relative;
  width: 100%;
  text-align: start;
}
.infoHeader {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 0px 15px 5px 15px;
}
.infoHeader:hover {
  background-color: #fafafa;
}
.graybg {
  background-color: #fafafa !important;
}
.tox .tox-menu.tox-collection.tox-collection--list.tox-selected-menu {
  z-index: 100000 !important;
}
.center {
  text-align: center !important;
}
h2 {
  margin-bottom: 15px;
  border: dashed 1px #eaeaea;
  border-radius: 5px;
  padding: 10px;
}
h3 {
  margin-bottom: 15px;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
  padding: 10px;
}
.thHour,
/* .thMinute {
  max-width: 20px;
} */
.proper {
  font-size: 0.9em;
}
.darkGray {
  color: #646262;
}
.regular {
  size: 0.9em;
}
.small {
  font-size: 0.8em;
}
.big {
  font-size: 1.4em;
}
.scrollX {
  overflow-x: auto;
}
.scrollY {
  overflow-y: auto;
}
.pabsolute {
  position: absolute;
}
.prelative {
  position: relative;
  height: auto;
}
.left20 {
  margin-left: 20px;
}

.w100 {
  position: relative;
  width: 100%;
}

.left {
  text-align: left !important;
}

.h100 {
  height: 100%;
}

.link {
  color: "#4caaad" !important;
}

.darkgray {
  color: #555;
}

.userRow {
  border: "1px solid #c4e9f5";
  cursor: pointer;
  cursor: hand;
}

.userRow:hover {
  background-color: "#c4e9f5";
}

.gray {
  color: #afafaf;
}
.green {
  color: hsl(93, 75%, 46%);
}
.bgwhite {
  background-color: #ffffff;
}
.datePicker {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 6px;
  width: 150px;
  text-align: center;
  font-size: 1.2em;
  color: rgb(90, 179, 218);
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
  cursor: hand;
}
.datePicker:hover {
  border: 1px solid rgb(99, 186, 230);
}
.hour div {
  margin-left: -20px;
  height: inherit;
  background-color: #ffffff;
}
.hour {
  color: rgb(214, 214, 214);
  font-size: 1.8em;
  border-width: 0 1px 0 0;
  border-color: #000000;
  border-style: dashed;
  width: fit-content;
  /* 
  font-family: Sans-Serif;
  text-align: center; */
}
.minute {
  padding: 10px 0px;
  /* max-width: 20px; */
  border-width: 0 1px 0 0;
  border-color: #000000;
  border-style: dashed;
  font-family: Sans-Serif;
  text-align: center;
}
.bold {
  font-weight: bold;
}
.medium {
  font-size: 1.5em;
}
TableContainer {
  border-radius: 10;
  border: 1px solid rgb(228, 228, 228);
}
Table {
  color: rgb(83, 83, 83);
  table-layout: auto !important;
  text-align: center;
}
.publicAppointment {
  margin: 0 auto;
  font-size: 0.8em;
  padding: 5px 15px;
}
.itemsBox {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  max-width: 1000px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.vehiclesBox {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.fixedTable {
  position: relative;
  max-height: 70vh;
  max-width: 90vw;
  overflow: auto;
  overflow-y: scroll;
}
.rawItemsClass {
  overflow: hidden;
}

.topMenuWrapper {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 100vw;
  overflow-x: auto;
}

.infoRow {
  position: relative;
  border-color: #fff;
  border-width: 0px;
  border-style: solid;
  margin: 1px 0px 1px 0px;
  padding: 5px 5px 5px 10px;
  background-color: #fafafa;
  border-radius: 4px;
  font-size: 0.9em;
  color: #555555;
  cursor: pointer;
  cursor: hand;
}
.infoRow:hover {
  background-color: #fff;
}
.infoPopower {
  background-color: #fafafa;
  box-shadow: rgb(0, 0, 0, 0.15) 0px 9px 29px;
  border-radius: 5px;
}
.hand {
  cursor: pointer;
  cursor: hand;
}
.infoNew {
  font-weight: bold;
}

.infoRed {
  font-weight: 200;
}
.tel {
  color: #32a8c0;
}
.garagesListPage {
  background-color: #fff;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  position: relative;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  height: 85vh;
  width: 100%;
}
.garagesListWrap {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  width: 50%;
  height: 100%;
}
.mapa {
  position: relative;
  width: 50%;
  height: 100%;
}
.garagesList {
  position: relative;
  margin: 0 auto;
  padding: 0px 30px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.garagesListHeader {
  border-bottom: 1px solid#efefef;
}
.garageTd {
  padding: 6px 9px !important;
  border: none !important;
}
/* .garageTd button{
  background-color: #fafafa !important;
  color: hsl(197, 100%, 50%);
} */
.garageCard {
  background-color: #fafafa;
  border: #efefef 1px solid;
  padding: 0px;
  border-radius: 6px;
  margin: 30px 10px;
  cursor: pointer;
  cursor: hand;
  color: #555;
}
.garageCard:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.garageCard:hover .garageCardName {
  border-bottom: 1px solid #dedede;
  color: #32a8c0;
}
.garageCard:hover .avaliableComponentBox {
  border-color: hsl(29, 100%, 49%);
}
.garageCardName {
  font-size: 0.9em;
  font-weight: 400;
  color: #555;
  padding: 10px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.garageCardBody {
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: left;
}
.avaliableComponentBox {
  position: relative;
  margin-right: 15px;
  height: 100%;
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #efefef;
  border-radius: 10px;
}
.garageCardDateButton {
  position: relative;
  padding: 40% 0%;
}

/*
Td {
  color: #5e5252;
  background-color: #fff;
  border-width: 0 1px 0 0;
  border-style: dashed;
}
.rowspan {
  border-top: 3px solid #000000;
}

.completed {
  background-color: #e1ffd9;
}
.incomplete {
  background-color: #f0f0f0;
}
.loading {
  background-color: #5e5252;
}
.ready {
  background-color: #b82525;
} */
